body { margin: 0px; background: url('images/background.jpeg'); color: orange; font-family: Arial; font-size:15px;  text-shadow: 1px 0px 0px #000; }

#status_bar{ display: block; margin: 0px auto; width: 800px; height: 30px; background: #3d3d3d; line-height: 30px; border-radius: 0px 0px 10px 10px; }
#score{ display: inline; margin-left: 5px; width: 200px; color: green; }
#points { display:inline; color: white; }
#version { display: inline; margin-right: 5px; float: right; }
#sound { display: inline; float: right; width: 32px; height: 32px; }

.monster { display: block; width: 44px; height: 58px; position: absolute; background: url('monsters/monster6_64.gif') no-repeat; -webkit-animation: monsterMove 20s infinite; }
.mute { display: inline; width: 32px; height: 32px; background: url('images/mute.png') no-repeat; }
.unmute { display: inline; width: 32px; height: 32px; background: url('images/unmute.png') no-repeat; }

@-webkit-keyframes monsterMove {
  to {
    top: 90%;
  }
}
